.el-submenu__title {
  padding: 0 16px!important;
}
.el-submenu__icon-arrow {
  font-size: 14px!important;
}
.sub-el-icon {
  font-size: 14px!important;
  margin-right: 16px!important;
  margin-left: 0!important;
}
.submenu-title-noDropdown {
  padding: 0 16px!important;
}
